body{
 margin:0px;
 font-family: "Source Sans 3", sans-serif;
 text-align:center;

}
.main-section{
 background: url("hyd.jpg");
 background-size:cover;
 height:100%;
 width:100%;
 padding-top:5px; 
 
}
h1{
 width:250px;
 margin-left:auto;
 margin-right:auto;
 background-color: #3f4888;
 color:white;
 border-radius: 5px;
 padding: 0px 6px;
}
h3 {
 background-color:rgb(48, 81, 93);
 color:white;
 width:400px;
 margin-left: auto;
 margin-right:auto;
 border-radius:5px;
}
img {
 width : 150px;
 height : 150px;
 border-radius:50%;
}
div{
 margin:0;
 background-color: rgb(232, 231, 230);
}
.sub-sec{
 padding:10px;
 display:flex;
 justify-content: space-around;
 align-items: center;
}
.place{
 width: 300px;
}
